  
  @import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Acme&family=Anton&display=swap');
  h1{
    text-align: center;
    font-family: 'Acme', sans-serif;
  
}

.titulos{
    text-align: center;
    font-family: 'Acme', sans-serif;
}


body{
    background-color: aqua;
    
}

input{
    width: 270px;
    height: 20px;
    border-radius: 10px;
    font-size :20px;
    font-family: 'Acme', sans-serif;
    border-color: black;
    border-style: double;

}
select{
width: 270px;
height: 25px;
    border-radius: 10px;
    
    font-family: 'Acme', sans-serif;
    border-color: black;
    border-style: double;
}
#secundaria{

    width: 970px;
height: 700px;
margin-left: 50px;
   
}
#primaria{

    width: 800px;
height: 700px;
margin-left: 50px;
}
textarea{
    width: 970px;
   
    margin-left: 50px;
}
#boton{
    width: 150px;
    height: 30px;
    margin: 5% 50%;
   
}
#boton{
    width 25px
    height 100px
}
#tecnico{
    margin 70% 70% 
}


@media screen and (max-width:550px) and (min-width: 320px){
    input{
        width: 100px;
        height: 20px;
        border-radius: 10px;
       font-size: small;
        font-family: 'Acme', sans-serif;
        border-color: black;
        border-style: double;
    
    }
    select{
    width: 100px;
    height: 25px;
    font-size:medium;
        border-radius: 10px;
        font-family: 'Acme', sans-serif ;
        border-color: black;
        border-style: double;
    }
    

    table{
        font-size: small;
    }
    textarea{
        width: 150%;
        margin-left: 0px;
    }

    #boton{
        width: 150px;
        height: 30px;
        margin: 5% 35%;

    }

    #secundaria{

        width:470px;;
    height: 300px;
    margin-left: 0px;
       
    }
    #primaria{
    
        width: 470px;;
    height: 300px;
    margin-left: 0px;
    }
}

